<%= form_with url: "/parks/new", method: :post do |f| %>
    <div class="field">
        <%= f.label :car_size %><br>
        <%= f.text_field :car_size %>
    </div>

    <div class="actions">
    <%= f.submit "Save", class:"savebtn" %>
    </div>
<% end %>

